
body {
    font: 14px/1em "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

h1 {

    color: #444;
    text-align: center;
    text-transform: uppercase;
}

#contrast {
    margin: 0 auto;
}

.contrast-colours {
    list-style: none;
    padding: 0;
}

.contrast-colour {
    display: block;
    float: left;
    height: 20px;
    width: 33%;
}

.contrast-ratios {
    clear: both;
    list-style: none;
    padding: 0;

}

.contrast-ratio {
    display: block;
    float: left;
    height:80px;
    width: 49%;
    text-align: center;

}



.contrast-ratio__levels{
    list-style:none;
}

.colour-list {
    list-style: none;
    padding: 0;
}

.colour-list__colour {
    display: block;
    float: left;
    height: 120px;
}

.data-holder {
    bottom: 0;
    padding: 10px 0 5px;
    position: fixed;
    width: 100%;
}

.colour-order {
    display: block;
    height: 40px;
    padding: 0;
    margin: 0 auto;
    width: 90%;
}

.action-button {
    display: none;
}
